@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --primary-blue: #006994;
    --secondary-blue: #394955;
    --tertiary-blue: #9CADBC;
    --bright-blue: #0092ff;
    --primary-brown: #7F5B30;
    --secondary-brown: #B68D5F;
    --white-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white-color);
    background: var(--secondary-blue);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

// Canvas 

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1000;
}


// Flashes

.flashes h4 {
    color: red;
}

/* Nav */

nav {
    box-shadow: none;
    background: transparent;

    .navigation-main {
        background: transparent;

        .nav-logo {
            font-size: 1rem;
            transform: translateX(5rem);
            text-transform: lowercase;

            &:hover,
            &:focus {
                transition: 0.5s;
                color: var(--primary-brown);
            }
        }

        ul {
            transform: translateX(-5rem);

            li {
                text-transform: lowercase;

                &:hover,
                &:focus {
                    a {
                        transition: 0.5s;
                        color: var(--primary-brown);
                        background-color: transparent;
                        transform: scale(1.1);
                    }

                }
            }
        }
    }
}

/* Landing Page */

.home-page-container {
    // background: var(--secondary-blue);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;

    h1 {
        position: relative;
        font-weight: 700;
        font-size: 10rem;
        transform: translate(5rem);
        mix-blend-mode: overlay;
        margin-top: 10rem;
        z-index: -1000;

        span {
            font-size: 12rem;
        }
    }

    .home-text-content {
        transform: translate(5rem);
        width: 70%;
        margin-top: 10rem;

        h2 {
            font-weight: 700;
            font-size: 5rem;
            margin-top: 0;
        }

        p {
            font-weight: 100;
            font-size: 1.5rem;
            line-height: 4rem;

            span {
                font-weight: 700;
                font-size: 2.5rem;
                color: var(--primary-blue);
            }
        }

        a {
            margin-top: 3rem;
            text-transform: lowercase;
        }
    }

    .home-button {
        margin-top: 1rem;
        background: var(--primary-brown);
        min-width: 15rem;
        border-radius: 1rem;

        &:hover,
        &:focus {
            transition: 0.5s;
            transform: scale(1.02);
            background: var(--secondary-brown);
        }
    }

    .home-button:nth-of-type(2) {
        margin-left: 2rem;
        background: var(--white-color);
        color: var(--primary-brown);
        font-weight: 700;

        &:hover,
        &:focus {
            transition: 0.5s;
            transform: scale(1.02);
            background: var(--secondary-brown);
            color: var(--white-color)
        }
    }
}

// Register and Login Page

.register-form-container {
    .card-panel {
        background: none;
        box-shadow: none;
    }

    .register-card {
        transform:
            translateY(10vh);

        .register-text-field {
            background: #394955c7;
            box-shadow: 0rem 0rem 5rem 0rem #b68d5f;
            padding: 3rem 2rem;
        }

        .register-button {
            margin-top:
                1rem;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            background:
                var(--white-color);
            color: var(--primary-brown);
            text-transform: lowercase;
            width: 25%;

            &:hover,
            &:focus {
                transition: 0.5s;
                background:
                    var(--secondary-brown);
                transform: scale(1.1);
            }
        }
    }

    .input-field>label {
        color:
            var(--white-color);
    }
}

.register-text {
    p {
        font-size: 1rem;
        font-weight: 100;

        span {
            font-size: 2rem;
            font-weight: 400;
            color: var(--primary-blue);
        }
    }
}

// Locations Page

main {
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    transform: translateY(10vh);

    .locations-card {
        background: var(--tertiary-blue);
        overflow: hidden;
        border-radius: 1rem;

        .card-content {
            .card-title {
                color: var(--secondary-blue);
                font-weight: 400;
                font-size: 2rem;
            }

            .title-background {
                position: absolute;
                z-index: -1;
                font-size: 4rem;
                color: rgba(255, 255, 255, 0.05);
                transform: rotate(45deg) scale(1.5);

            }

            p {
                font-family: 'Roboto', sans-serif;
                color: var(--secondary-blue);
                font-weight: 300;
                font-size: 0.8rem;

                i {
                    color: var(--secondary-brown);
                    transition: 1s;

                    &:hover {
                        transition: 1s;
                        transform: scale(1.5) rotate(720deg);
                    }
                }

                .rating-total {
                    font-weight: 400;
                }
            }
        }

        .card-links {
            position: relative;
            padding: 24px;

            .locations-links {
                color: var(--white-color);
                background: var(--primary-brown);
                text-transform: lowercase;
                border-radius: 0.5rem;
                transition: 0.5s;

                &:hover,
                &:focus {
                    background: var(--secondary-brown);
                    transform: scale(1.05);
                }
            }
        }

    }
}

// Posts Page

.post-back-button {
    transform: translateX(50%);
    border-radius: 0.5rem;
    text-transform: lowercase;
    background: var(--primary-brown);
    margin-top: 5rem;
    &:hover, &:focus {
        transition: 0.5s;
        background: var(--secondary-brown);
        transform: translateX(50%) scale(1.1);
    }
}

.posts-info {
    position: relative;
    margin: 5rem auto 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 3rem;

    .posts-background {
        position: absolute;
        font-size: 20rem;
        width: 100vw;
        transform: rotate(-25deg) scale(1.5);
        z-index: -2;
        color: rgb(127 91 48 / 25%);
    }

    .posts-image-container {
        // padding: 0 5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .posts-image {
            width: 100%;
        }
    }

    .posts-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .posts-heading {
            margin: 0;
            font-size: 5rem;
            font-weight: 700;
        }

        .posts-current-ratings {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 1.25rem;
            color: var(--tertiary-blue);

            i {
                color: var(--secondary-brown);
                transition: 1s;

                &:hover {
                    transition: 1s;
                    transform: scale(1.5) rotate(720deg);
                }
            }
        }

        .posts-description {
            width: 87.5%;
            line-height: 1.75;
            font-size: 1.4rem;
            font-weight: 200;

        }

        .post-form {
            width: 87.5%;
            display: flex;

            .input-field {
                margin: 0;
                padding-top: 0.25rem;
            }

            .posts-subheading {
                margin-left: 0;
            }

            .post-submit-button {
                margin-top: 2rem;
                background: var(--primary-brown);
                text-transform: lowercase;
                border-radius: 0.5rem;

                &:hover,
                &:focus {
                    transition: 1s;
                    background: var(--secondary-brown);
                    transform: scale(1.1);
                }
            }
        }

        .posts-user-rating {
            font-size: 2rem;
            color: var(--bright-blue);
            font-weight: 200;

            i {
                color: var(--secondary-brown);
                transition: 1s;

                &:hover {
                    transition: 1s;
                    transform: scale(1.5) rotate(720deg);
                }
            }
        }
    }

    .select-wrapper {
        input.select-dropdown {
            background: var(--white-color);
            z-index: 1;
            padding: 0 0 0 0.5rem;
            border-radius: 0.5rem;
            color: var(--primary-brown);
            margin-top: 0.5rem;
        }

        .caret {
            fill: var(--primary-brown);
            z-index: 2;
        }

    }
}

.post-section-container {
    margin-top: 5rem;
    width: calc(100% - 10rem);

    form {

        // background: var(--secondary-blue);
        p {
            font-size: 1.2rem;
            font-weight: 200;
            text-transform: lowercase;

            span {
                font-size: 3rem;
                color: var(--primary-blue);
                font-weight: 300;
            }
        }

        .row {
            margin: 0;
        }

        .forum-text-field {
            background: #b68d5f00;
            box-shadow: 20px 0px 20rem 20rem #b68d5f;
            padding: 3rem 2rem;

            /* label color */
            .input-field label {
                color: rgba(0, 0, 0, 0.5);
            }

            /* label focus color */
            .input-field input[type=text]:focus+label {
                color: #000;
            }

            /* label underline focus color */
            .input-field input[type=text]:focus {
                border-bottom: 1px solid #000;
                box-shadow: 0 1px 0 0 #000;
            }

            /* valid color */
            .input-field input[type=text].valid {
                border-bottom: 1px solid #000;
                box-shadow: 0 1px 0 0 #000;
                color: black;
            }

            /* invalid color */
            .input-field input[type=text].invalid {
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                // box-shadow: none;
                box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
                color: black;
            }

            /* icon prefix focus color */
            .input-field .prefix.active {
                color: #000;
            }

            .input-field textarea.materialize-textarea.valid {
                border-bottom: 1px solid #000;
                box-shadow: 0 1px 0 0 #000;
                color: black;
            }

            /* invalid color */
            .input-field textarea.materialize-textarea.invalid {
                border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                // box-shadow: none;
                box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.5);
                color: black;
            }

            /* icon prefix focus color */
            .input-field .prefix.active {
                color: #000;
            }

            .input-field textarea.materialize-textarea:focus-within {
                border-bottom: 1px solid black;
                box-shadow: 0 1px 0 0 black;
                color: #000;
            }
        }

        // .forum-text-field:nth-of-type(2) {
        //     margin-top: 1rem;
        //     background: var(--white-color);
        // }

        .forum-button {
            margin-top: 1rem;
            margin-bottom: 1rem;
            border-radius: 0.5rem;
            background: var(--primary-blue);
            text-transform: lowercase;

            &:hover,
            &:focus {
                transition: 0.5s;
                background: var(--secondary-blue);
                transform: scale(1.05);
            }
        }
    }
}

.review-section-container {
    margin-top: 5rem;
    width: calc(100% - 10rem);
    .single-post {
        background: #7f5b3000;
        box-shadow: -20px 20rem 20rem 5rem var(--tertiary-blue);
        .card {
            .card-content {
                background: var(--secondary-blue);
                word-wrap: break-word;
                a {
                    color: var(--white-color);
                    .card-title {
                        font-size: 3rem;
                        font-weight: 500;
                        text-decoration: underline;
                        line-height: 1.25;
                    }
                }
                p {
                    font-size: 1rem;
                    font-weight: 200;
                    margin-top: 2rem;
                    padding: 3rem;
                }
            }
            .collapsible {
                border: none;
            }
            .collapsible-header {
                color: var(--primary-brown);
            }
            background: var(--secondary-blue);
            .comment-section-container, .add-comment-section {
                padding: 24px;
                .comment-reply{
                    font-size: 1.5rem;
                    font-weight: 200;
                }
                .comment-date{
                    font-size: 50%;
                    
                }
                .comment-created{
                    font-size: 50%;
                    
                }
                a {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    border-radius: 0.5rem;
                    background: var(--primary-brown);
                    text-transform: lowercase;
    
                    &:hover,
                    &:focus {
                        transition: 0.5s;
                        background: var(--primary-blue);
                        transform: scale(1.05);
                    }
                }
            }
            .add-comment-section {
                padding: 2rem;
                form {
                    background: var(--secondary-blue);
                    padding: 3rem;
                    box-shadow: 0 0 10px 0 black;
                    button {
                        margin-top: 1rem;
                        margin-bottom: 1rem;
                        border-radius: 0.5rem;
                        background: var(--primary-brown);
                        text-transform: lowercase;
    
                    &:hover,
                    &:focus {
                        transition: 0.5s;
                        background: var(--secondary-brown);
                        transform: scale(1.05);
                    }
                    }
                }
            }
            .card-action {
                background: var(--primary-brown);
                .post-date {
                    font-size: 75%;
                }
                .post-created-by {
                    font-size: 150%;
                }
                a {
                    margin-top: 1rem;
                    margin-bottom: 1rem;
                    border-radius: 0.5rem;
                    background: var(--secondary-brown);
                    text-transform: lowercase;
    
                    &:hover,
                    &:focus {
                        transition: 0.5s;
                        background: var(--white-color);
                        color: var(--primary-brown);
                        transform: scale(1.05);
                    }
                }
            }
            
        }
    }
}

// Profile page

.profile-background {
    position: fixed;
    font-size: 20rem;
    width: 100vw;
    transform: rotate(-25deg) scale(1.5);
    z-index: -2;
    color: rgb(127 91 48 / 25%);
}

.profile-info {
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1rem;
    transform: translateY(10vh);
}

.user-info {
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1rem;
    transform: translateY(10vh);
    div {
        h2 {
            font-size: 1.2rem;
            margin: 0;
            padding: 1rem;
            font-weight: 200;
            span {
                font-weight: 300;
                font-size: 3rem;
                color: var(--primary-blue);
                text-transform: lowercase;
            }
        }
        .collapsible {
            padding: 1rem;
            border: none;
            box-shadow: none;
            .collapsible-header {
                background: var(--primary-brown);
                border: none;
                font-size: 1rem;
                font-weight: 200;
                width: 50%;
                border-radius: 1rem;
            }
            .collapsible-body {
                word-wrap: break-word;
                .card {
                    background: var(--secondary-blue);
                    box-shadow: 0 0 10rem 0 var(--primary-brown);
                    .card-action {
                        a {
                            text-transform: lowercase;
                            background: var(--primary-brown);
                            border-radius: 0.5rem;
                            margin-top: 1rem;
                            &:hover, &:focus {
                                transition: 0.5s;
                                background: var(--secondary-brown);
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                .card-title {
                    font-weight: 500;
                }
                .card-title:nth-of-type(2) {
                    font-size: 2rem;
                    font-weight: 300;
                    text-decoration: underline;
                    margin-bottom: 2rem;
                }
                p {
                    font-weight: 200;
                }
            }
        }
    }
}

// view locations admin

.location-add-button {
    border-radius: 0.5rem;
    text-transform: lowercase;
    background: var(--primary-brown);

    &:hover,
    &:focus {
        transition: 0.5s;
        background: var(--secondary-brown);
        transform: scale(1.1);
    }
}

.view-locations-admin {
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 1rem;
    transform: translateY(10vh);
    .view-locations-text {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
        background: var(--secondary-blue);
        word-wrap: break-word;
        box-shadow: 0 0 10rem 0 var(--secondary-brown);
        h2 {
            font-weight: 500;
        }
        h5 {
            font-size: 1.25rem;
            font-weight: 200;
            line-height: 1.25;
        }
        p {
            font-size: 0.5rem;

            span {
                font-size: 1rem;
                font-weight: 200;
            }
            
        }
        .location-edit-button {
            width: 25%;
            border-radius: 0.5rem;
            text-transform: lowercase;
            background: var(--primary-brown);
            &:hover, &:focus {
                transition: 0.5s;
                background: var(--secondary-brown);
                transform: scale(1.1);
            }
        }
    }
    img {
        width: 100%;
    }
}

// view categories section

.view-categories-section {
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
    transform: translateY(10vh);
    div {
        color: var(--white-color);
        width: 100%;
        background: var(--secondary-brown);
        box-shadow: 0 0 10px 10px var(--secondary-blue),
                    inset 0 0 20px 2px var(--primary-brown);
        h2 {
            font-size: 2rem;
        font-weight: 700;
        padding: 0.5rem 1rem;
        }
        a {
            font-size: 1rem;
            font-weight: 200;
            text-transform: lowercase;
            margin: 0 1rem 2rem 1rem;
            background: var(--primary-brown);
            &:hover, &:focus {
                transition: 0.5s;
                transform: scale(1.1);
                background: var(--white-color);
                color: var(--primary-brown);
            }
        }
        
        
    }
}

// Questions Page

.carousel {
    z-index: 100;
    height: 800px;
    .carousel-item {
        width: 300px;
        height: 800px;
        .card {
            border-radius: 1rem;
            background: var(--secondary-blue);
            box-shadow: 0 0 20rem 3rem var(--secondary-brown);
            .card-image {
                transform: scale(0.95);
                img {
                    width: 100%;
                    border-radius: 1rem;
                }
            }
            .card-content {
                p {
                    font-weight: 100;
                    font-style: italic;
                }
            }
            .card-action {
                border-radius: 1rem;
                background: var(--primary-brown);
                .card-title {
                    font-weight: 500;
                    color: var(--white-color);
                }
            }
            
        }
    }
}

.guru-background {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-25deg) scale(3);
    font-size: 10rem;
    color: #7f5b304a;
    color: rgb(156 173 188 / 10%);
}

.ask-guru-container {
    position: relative;
    margin: 5rem auto 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    // background: var(--tertiary-blue);
    .ask-guru-info-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        // box-shadow:  inset 0px 0px 4rem 4rem var(--secondary-blue);
       
        .guru-text-content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            flex-grow: 1;
            width: 100%;
            // box-shadow: 0rem -0rem 20rem 10rem var(--secondary-blue);
            box-shadow: 40rem 0rem 20rem 20rem var(--secondary-blue);
                        
            // background: rgba(0, 0, 0, 0.5);
            h3 {
                font-size: 3rem;
                padding: 2rem;
                z-index: 10;
                span {
                    font-size: 7rem;
                    font-weight: 700;
                    color: var(--primary-brown);
                }
            }
            p {
                padding: 2rem;
                z-index: 10;
                line-height: 2;
                font-weight: 100;
                font-size: 1.25rem;
            }
        }
        
    }
    .question-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .ask-question {
            width: 100%;
            box-shadow: -40rem 0rem 20rem 20rem #394955b8;
            h3 {
                padding: 2rem;
                font-size: 3rem;
                span {
                    font-size: 7rem;
                    font-weight: 700;
                    color: var(--primary-brown);
                }
            }
            form {
                padding: 2rem;
                margin-top: 5rem;
                
                .row {
                    .input-field {
                        width: 100%;
                    }
                    button {
                        border-radius: 0.5rem;
                        background: var(--primary-brown);
                        text-transform: lowercase;
    
                    &:hover,
                    &:focus {
                        transition: 0.5s;
                        background: var(--secondary-brown);
                        transform: scale(1.05);
                    }
                    }
                }
                
            }
        }
    }
}

.question-category-section {
    position: relative;
    margin-top: 10rem;
    z-index: 10;
    .category-buttons {
        background-color: var(--white-color);
        color: var(--primary-brown);
        text-transform: lowercase;
        margin: 0.5rem;
        border-radius: 0.5rem;
    }
}

.questions-list {
     > .col {
        box-shadow: 0 0 10rem 0 var(--secondary-brown);
    }
    .card-content {
        p {
            font-size: 0.5rem;
            span {
                font-weight: 500;
                font-size: 1rem;
            }
        }
        .question-likes {
            font-size: 0.5rem;
            span {
                font-size: 1rem;
            }
        }
        .question-description-post {
            padding: 3rem 3rem 0 3rem;
            font-size: 2rem;
            font-weight: 200;
            font-style: italic;
        }
    }
    .question-user {
        .question-created-by {
            font-size: 0.5rem;
            span {
                font-size: 1rem;
            }
        }
        a {
            background: var(--white-color);
            color: var(--primary-brown);
            text-transform: lowercase;
            border-radius: 0.5rem;
            margin-top: 1rem;
            &:hover, &:focus {
                transition: 0.5s;
                background: var(--primary-brown);
                color: var(--white-color);
                transform: scale(1.1);
            }
        }

    }
    .question-reply {
        position: relative;
        padding-left: calc(3rem + 24px);
        font-size: 2rem;
        font-weight: 500;
        font-style: italic;
        padding-top: 1rem;
        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            width: 50%;
            height: 3px;
            background: var(--primary-blue);
            transform: translateX(calc(-100% + 3rem));
        }
    }
    .question-reply-user {
        font-size: 0.5rem;
        padding-left: calc(3rem + 24px);
    }
    .question-buttons {
        margin-left: calc(3rem + 24px);
        a {
            background: var(--primary-brown);
            text-transform: lowercase;
            border-radius: 0.5rem;
            margin-top: 1rem;
            &:hover, &:focus {
                transition: 0.5s;
                background: var(--white-color);
                color: var(--primary-brown);
                transform: scale(1.1);
            }
        }
    }
    .reply-section {
        padding: 5rem;
        margin: 2rem 0 0 0;
        background: var(--white-color);
        box-shadow: 0 0 10rem 0 var(--secondary-blue), inset 0 0 2rem 0 var(--primary-brown);
        button {
            background: var(--secondary-blue);
            color: var(--white-color);
            text-transform: lowercase;
            border-radius: 0.5rem;
            margin-top: 1rem;
            &:hover, &:focus {
                transition: 0.5s;
                background: var(--primary-blue);
                transform: scale(1.1);
            }
        }
    }
    
}

.questions-hide {
    display: none;
}