@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700&family=Roboto:wght@100;300;400;500;700&display=swap');

:root {
    --primary-blue: #006994;
    --secondary-blue: #394955;
    --tertiary-blue: #9CADBC;
    --bright-blue: #0092ff;
    --primary-brown: #7F5B30;
    --secondary-brown: #B68D5F;
    --white-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--white-color);
    background: var(--secondary-blue);
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

// Canvas 

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: -1000;
}


// Flashes

.flashes h4 {
    color: red;
}

/* Nav */

nav {
    box-shadow: none;
    background: transparent;
    .navigation-main {
        background: transparent;
        .nav-logo {
            font-size: 1rem;
            transform: translateX(5rem);
            text-transform: lowercase;
            &:hover, &:focus {
                    transition: 0.5s;
                    color: var(--primary-brown);
            }
        }
        ul {
            transform: translateX(-5rem);
            li {
                text-transform: lowercase;
                &:hover, &:focus {
                    a {
                        transition: 0.5s;
                        color: var(--primary-brown);
                        background-color: transparent;
                        transform: scale(1.1);
                    }
                    
                }
            }
        }
    }
}

/* Landing Page */

.home-page-container {
    // background: var(--secondary-blue);
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    h1 {
        position: relative;
        font-weight: 700;
        font-size: 10rem;
        transform: translate(5rem);
        mix-blend-mode: overlay;
        margin-top: 10rem;
        z-index: -1000;
        span {
            font-size: 12rem;
        }
    }
    .home-text-content {
        transform: translate(5rem);
        width: 70%;
        margin-top: 10rem;
        h2 {
            font-weight: 700;
            font-size: 5rem;
            margin-top: 0;
        }
        p {
            font-weight: 100;
            font-size: 1.5rem;
            line-height: 4rem;
            span {
                font-weight: 700;
                font-size: 2.5rem;
                color: var(--primary-blue);
            }
        }
        a {
            margin-top: 3rem;
            text-transform: lowercase;
        }
    }
    .home-button {
        margin-top: 1rem;
        background: var(--primary-brown);
        min-width: 15rem;
        border-radius: 1rem;
        &:hover, &:focus {
            transition: 0.5s;
            transform: scale(1.02);
            background: var(--secondary-brown);
        }
    }
    .home-button:nth-of-type(2) {
        margin-left: 2rem;
        background: var(--white-color);
        color: var(--primary-brown);
        font-weight: 700;
        &:hover, &:focus {
            transition: 0.5s;
            transform: scale(1.02);
            background: var(--secondary-brown);
            color: var(--white-color)
        }
    }
}

// Register Page

.register-form-container {
    .register-card {
        background: var(--primary-brown);
        transform: translateY(10vh);
        .register-button {
            background: var(--white-color);
            color: black;
        }
    }
    .input-field>label {
        color: var(--white-color);
    }
}

// Locations Page

main {
    margin: 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    transform: translateY(10vh);
    .locations-card {
        background: var(--tertiary-blue);
        overflow: hidden;
        border-radius: 1rem;
        .card-content {
            .card-title {
                color: var(--secondary-blue);
                font-weight: 400;
                font-size: 2rem;
            }
            .title-background {
                position: absolute;
                z-index: -1;
                font-size: 4rem;
                color: rgba(255, 255, 255, 0.05);
                transform: rotate(45deg) scale(1.5);

            }
            p {
                font-family: 'Roboto', sans-serif;
                color: var(--secondary-blue);
                font-weight: 300;
                font-size: 0.8rem;
                i {
                    color: var(--secondary-brown);
                    transition: 1s;
                    &:hover {
                        transition: 1s;
                        transform: scale(1.5) rotate(720deg);
                    }
                }
                .rating-total {
                    font-weight: 400;
                }
            }
        }
        .card-links {
            position: relative;
            padding: 24px;
            .locations-links {
                color: var(--white-color);
                background: var(--primary-brown);
                text-transform: lowercase;
                border-radius: 0.5rem;
                transition: 0.5s;
                &:hover, &:focus {
                    background: var(--secondary-brown);
                    transform: scale(1.05);
                }
            }
        }
        
    }
}

// Posts Page

.posts-info {
    position: relative;
    margin: 5rem auto 0 auto;
    width: 75%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 3rem;
    .posts-background {
        position: absolute;
        font-size: 20rem;
        width: 100vw;
        transform: rotate(-25deg) scale(1.5);
        z-index: -2;
        color: rgb(127 91 48 / 25%);
    }
    .posts-image-container {
        // padding: 0 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .posts-image {
            width: 100%;
        }
    }
    .posts-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        .posts-heading {
            margin: 0;
            font-size: 5rem;
            font-weight: 700;
        }
        .posts-current-ratings {
            font-family: 'Roboto', sans-serif;
            font-weight: 100;
            font-size: 1.25rem;
            color: var(--tertiary-blue);
            i {
                color: var(--secondary-brown);
                transition: 1s;
                &:hover {
                    transition: 1s;
                    transform: scale(1.5) rotate(720deg);
                }
            }
    }
        .posts-description {
            width: 87.5%;
            line-height: 1.75;
            font-size: 1.4rem;
            font-weight: 200;
            
        }
        .post-form {   
            width: 87.5%;
            display: flex;
            .input-field {
                margin: 0;
                padding-top: 0.25rem;
            }
            .posts-subheading {
                margin-left: 0;
            }
            .post-submit-button {
                margin-top: 2rem;
                background: var(--primary-brown);
                text-transform: lowercase;
                border-radius: 0.5rem;
                &:hover, &:focus {
                    transition: 1s;
                    background: var(--secondary-brown);
                    transform: scale(1.1);
                }
            }
        }
        .posts-user-rating {
            font-size: 2rem;
            color: var(--bright-blue);
            font-weight: 200;
            i {
                color: var(--secondary-brown);
                transition: 1s;
                &:hover {
                    transition: 1s;
                    transform: scale(1.5) rotate(720deg);
                }
            }
        }
    }
    .select-wrapper {
        input.select-dropdown {
            background: var(--white-color);
            z-index: 1;
            padding:  0 0 0 0.5rem;
            border-radius: 0.5rem;
            color: var(--primary-brown);
            margin-top: 0.5rem;
        }
        .caret {
            fill: var(--primary-brown);
            z-index: 2;
        }
        
    }
}

// Questions Page

.questions-hide {
    display: none;
}




