{% extends "base.html" %}
{% block content %}

<div class="carousel">
  {% for user in users %}
  <div class="carousel-item" class="row">
    <div class="col s12 m7">
      <div class="card">
        <div class="card-image">
          {% if user.user_image %}
          <img src="{{ url_for('file', filename=user.user_image) }}">
          {% else %}
          <img src="{{ url_for('static', filename='img/blank_profile_image.png') }}">
          {% endif %}
        </div>
        <div class="card-content">
          <p>"I am a very simple card. I am good at containing small bits of information.
            I am convenient because I require little markup to use effectively. I am a very simple card. I am good at
            containing small bits of information.
            I am convenient because I require little markup to use effectively."</p>
        </div>
        <div class="card-action">
          <span class="card-title">{{ user.username }}</span>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<p class="guru-background">Ask a guru</p>

<div class="ask-guru-container">

  <div class="ask-guru-info-container">
    <div class="guru-text-content">
      <h3>
        Ask a <span>guru</span>
      </h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis sapiente quo voluptates saepe labore iste
        culpa expedita, ad quam vitae omnis. Incidunt accusantium earum pariatur doloremque ad totam illo repellendus
        quidem hic? Dolore officia fugiat doloribus ut temporibus soluta neque architecto animi dicta commodi nihil
        ipsum,
        cupiditate facilis natus debitis?</p>
    </div>
  </div>

  {% if session.user %}
  <div class="question-container">
    <div class="ask-question">
      <h3>Ask <span>question</span></h3>
      <form class="" method="POST" action="{{ url_for('ask_guru') }}">

        <div class="row">
          <div class="input-field">
            <select id="category_id" name="category_id" class="validate" required>
              <!-- <option value="" disabled selected>Choose Category</option> -->
              {% for category in categories %}
              <option value="{{ category._id }}">{{ category.category_name }}</option>
              {% endfor %}

            </select>
            <label for="category_id">Question Category</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field">
            <input id="question_title" name="question_title" type="text" class="validate" required>
            <label for="question_title">Title</label>
          </div>
        </div>
        <div class="row">

          <div class="input-field">
            <textarea id="question_description" name="question_description" class="materialize-textarea validate"
              required></textarea>
            <label for="question_description">Description</label>
          </div>

        </div>
        <div class="row">

          <button type="submit" class="btn-large">
            Submit Question
          </button>

        </div>
      </form>
    </div>
  </div>
  {% else %}
  <div class="question-container"></div>
  {% endif %}
</div>


<div class="row question-category-section">
  <div class="col s12 pagination center-align">
    {% for category in categories %}
    <button class="btn-large category-buttons">{{ category.category_name }}</button>
    {% endfor %}
    <p id="no-posts" class="questions-hide">No Posts Yet</p>
  </div>

</div>

{% for question in questions %}

<div class="row questions-list questions-hide" data-questions="{{ question.category_name }}">

  {% set count = [] %}
  {% set class = [] %}
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <p class="card-title">Category: <span>{{ question.category_name }}</span></p>



        {% for like in likes %}
        {% if question._id == like.question_id %}
        {% set __ = count.append(1) %}

        {% endif %}

        {% endfor %}
        <p class="question-likes">Total Likes: <span>{{ count|length }}</span></p>
        {% if session.user %}
        {% for like in liked_user %}
        {% if like.question_id == question._id %}
        {% set __ = class.append(1) %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if class|length > 0 %}
        <a href="{{ url_for('like_question', question_id=question._id) }}"><i class="fas fa-thumbs-up"></i></a>
        {% else %}
        <a href="{{ url_for('like_question', question_id=question._id) }}"><i class="far fa-thumbs-up"></i></a>
        {% endif %}

        

        <p class="question-description-post">
          "{{ question.question_description }}"
        </p>
      </div>
      {% for reply in replies %}
      {% if reply.question_id == question._id %}
      <p class="question-reply">{{ reply.reply }}</p>
      <p class="question-reply-user">Reply from: {{ reply.created_by }}</p>
      {% if session.user|lower == question.created_by|lower or session.admin|lower == "yes" %}
      <!-- Modal -->

      <!-- Modal Structure -->
      <div id="modal-{{ reply._id }}" class="modal">
        <div class="modal-content">
          <h4>Are you sure you want to delete?</h4>
        </div>
        <div class="modal-footer">
          <a href="{{ url_for('delete_reply', reply_id=reply._id) }}" class="btn-small">Delete</a>
          <a href="#!" class="modal-close btn-small">Close</a>
        </div>
      </div>
      <div class="question-buttons">
        <a class="btn-small modal-trigger" href="#modal-{{ reply._id }}">Delete</a>
        <a href="{{ url_for('edit_reply', reply_id=reply._id) }}" class="btn-small">Edit</a>
      </div>
      {% endif %}
      {% endif %}
      {% endfor %}
      {% if session.guru|lower == "yes" %}

      <div class="row reply-section">
        <form class="col s12" method="POST" action="{{ url_for('add_reply', question_id=question._id) }}">
          <div class="row">
            <div class="input-field col s12">
              <textarea id="reply" name="reply" class="materialize-textarea validate"></textarea>
              <label for="reply">Reply here</label>
            </div>
            <button type="submit" class="btn-small">
              Add Reply
            </button>
          </div>
        </form>
      </div>

      {% endif %}
      <div class="question-user card-content white-text">
        <p class="question-created-by">Question from: <span>{{ question.created_by }}</span></p>
        {% if session.user|lower == question.created_by|lower or session.admin|lower == "yes" %}
        <!-- Modal -->

      <!-- Modal Structure -->
      <div id="modal-{{ question._id }}" class="modal">
        <div class="modal-content">
          <h4>Are you sure you want to delete?</h4>
        </div>
        <div class="modal-footer">
          <a href="{{ url_for('delete_question', question_id=question._id) }}" class="btn-small">Delete</a>
          <a href="#!" class="modal-close btn-small">Close</a>
        </div>
      </div>
        <div>
          <a class="btn-small modal-trigger" href="#modal-{{ question._id }}">Delete</a>
          <a href="{{ url_for('edit_question', question_id=question._id) }}" class="btn-small">Edit</a>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</div>

{% endfor %}

<div class="liked-posts-button">
  <button>View most liked questions</button>
</div>
<div class="liked-posts">

  {% for likedquestion in liked_questions %}

  <div>
    <p>Category: <span>{{ likedquestion.category_name }}</span></p>
    <p>Question: <span>{{ likedquestion.question_description }}</span></p>
    {% for reply in replies %}
    {% if reply.question_id == likedquestion._id %}
    <p>Answer: <span>{{ reply.reply }}</span></p>
    {% endif %}
    {% endfor %}
    <p>Like Count: <span>{{ likedquestion.like_count }}</span></p>
  </div>
  {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script>
  // Category selection for ask guru categories

  const questionsList = document.querySelectorAll('.questions-list')
  const categoryButtons = document.querySelectorAll('.category-buttons')
  const noPosts = document.querySelector('#no-posts')
  let emptyPosts = 0

  categoryButtons.forEach((button) => {
    button.addEventListener('click', (e) => {
      noPosts.classList.add("questions-hide")
      emptyPosts = 0
      const x = e.target.innerText.toLowerCase();
      questionsList.forEach(question => {
        if (x == question.dataset.questions.toLowerCase()) {
          question.classList.toggle('questions-hide')
        } else {
          question.classList.add('questions-hide')
          emptyPosts++
          if (emptyPosts == questionsList.length) {
            noPosts.classList.toggle("questions-hide")
          }
        }
      })
    })
  })

  // Function for popout most liked questions

  const likedPostsButton = document.querySelector('.liked-posts-button')
  const likedPosts = document.querySelector('.liked-posts')

  likedPostsButton.addEventListener('click', () => {
    likedPosts.classList.toggle('liked-posts-transform')
  })

  likedPosts.addEventListener('click', () => {
    likedPosts.classList.toggle('liked-posts-transform')
  })
</script>
{% endblock %}