{% extends "base.html" %}
{% block content %}

  

  <br>
  <br>

  
  <div class="row register-form-container">
    <form class="col s12 m6 offset-m3 register-card" method="POST" action="{{ url_for('edit_reply', reply_id=replies._id) }}">
      <h4 class="center-align">Edit Reply</h4>
        <div class="row">
            <div class="row register-text-field">
              <div class="input-field col s12">
                <textarea id="reply" name="reply" class="materialize-textarea validate" required>
                  {{- replies.reply -}}
                </textarea>
                <label for="reply">Description</label>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <a href="{{ url_for('ask_guru')}}" class="btn-large register-button">
              Cancel
            </a>
            <button type="submit" class="btn-large register-button">
              Edit Reply
            </button>
          </div>
        </div>
    </form>
  </div>
  







{% endblock %}