{% extends "base.html" %}
{% block content %}

  

  <br>
  <br>

  
  <div class="row register-form-container">
    <form class="col s12 m6 offset-m3 register-card" method="POST" action="{{ url_for('edit_question', question_id=question._id) }}">
        <div class="row">
            <div class="row register-text-field">
              <div class="input-field col s12">
                <textarea id="question_description" name="question_description" class="materialize-textarea validate" required>
                  {{- question.question_description -}}
                </textarea>
                <label for="question_description">Description</label>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col s12 center-align">
            <a href="{{ url_for('ask_guru') }}" class="btn-large register-button">
              Cancel
            </a>
            <button type="submit" class="btn-large register-button">
              Edit Question
            </button>
          </div>
        </div>
    </form>
  </div>
  







{% endblock %}