{% extends "base.html" %}
{% block title %}Edit Users{% endblock %}
{% block content %}

{% if session.admin|lower == "yes" %}
<h2 class="guru-header"><i class="fas fa-users"></i> Users</h2>
<div class="guru-section">
  {% for user in users %}

  <div class="col s12 m6 guru-users">
    <div class="card">
      <div class="card-content white-text">
        <span class="card-title">{{ user.username }}</span>
        <p class="guru-user-description">" {{ user.user_description }} "</p>
      </div>
      <div class="card-action">
        <p class="guru-status">Guru Status: <span>{{ user.is_guru }}</span></p>
        {% if user.user_image %}
        <img src="{{ url_for('file', filename=user.user_image) }}" alt="image-for-{{ user.username }}">
        {% else %}
        <img src="{{ url_for('static', filename='img/blank_profile_image.png') }}" alt="default-image">
        {% endif %}
      </div>
    </div>
    <form class="col s12 guru-form" method="POST" action="{{ url_for('update_user', username_id=user._id) }}">
      <div class="switch">
        <label for="is_guru_{{ user.username }}">
          no
          {% if user.is_guru == "yes" %}
          <input type="checkbox" id="is_guru_{{ user.username }}" name="is_guru" checked>
          {% else %}
          <input type="checkbox" id="is_guru_{{ user.username }}" name="is_guru">
          {% endif %}
          <span class="lever"></span>
          yes
        </label>
      </div>
      <button type="submit" class="btn-small">Update</button>
    </form>
  </div>

  {% endfor %}
</div>

{% endif %}

{% endblock %}