{% extends "base.html" %}
{% block content %}

    <div class="home-page-container">
        <div class="home-text-content">
            <h1>CoastalCatch</h1>
            <h2>Isle of Wight</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates minus, fugiat porro quia aut facere sunt quidem officia excepturi esse.</p>
            <a class="btn-large home-button">View Locations</a><br>
            <a class="btn-large home-button">Ask Guru</a><br>
        </div>
    </div>
{% endblock %}