{% extends "base.html" %}
{% block title %}CoastalCatch{% endblock %}
{% block content %}

<div class="home-page-container">
    <h1>CoastalCatch</h1>
    <div class="home-text-content">
        <p>explore various beautiful coastal locations and ask our expert gurus</p>
        <p>in our fishing forum for the <span>Isle of Wight</span></p>
        <a class="btn-large home-button" href="{{ url_for('get_locations') }}">View Locations</a>
        <a class="btn-large home-button" href="{{ url_for('ask_guru') }}">Ask a Guru</a>
    </div>
</div>

{% endblock %}
{% block scripts %}
<script type="module" src="{{  url_for('static', filename='js/index.js') }}"></script>
{% endblock %}
