{% extends "base.html" %}
{% block content %}

      {% if session.admin|lower == "yes" %}
      <div class="row">
        <div class="col s12 m12 center-align">
          <a href="#" class="btn-large">Edit Locations</a>
        </div>
      </div>
      {% endif %}

      <main>
      {% for location in locations %}
      <div class="card locations-card">
        <div class="card-content locations-info">
          <span class="card-title">{{ location.location_name }}</span>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, provident?</p>
        </div>
        <div class="card-links">
          <a class="locations-links" href="{{ url_for('locations', location_id=location._id) }}">This is a link</a>
        </div>
      </div>
      {% endfor %}
    </main>

{% endblock %}
