{% extends "base.html" %}
{% block content %}



<div class="posts-info">
  <div class="posts-image-container">
    {% if location.location_image %}
    <img class="posts-image responsive-img" src="{{ url_for('file', filename=location.location_image) }}"
      alt="{{ location.location_name }}">
    {% else %}
    <img class="posts-image" src="{{ url_for('static', filename='img/blank_profile_image.png') }}"
      alt="{{ location.location_name }}">
    {% endif %}
  </div>
  <div class="posts-text-container">
    <div>
      <h3 class="posts-heading">
        {{ location.location_name }}
      </h3>
      <div class="posts-current-ratings">
        {% set rating_score = [] %}
        {% for rating in ratings %}
        {% set __ = rating_score.append(rating.rating) %}
        {% endfor %}
        {% if rating_score|length > 0 %}
        <p class="posts-rating">Current Rating:
          <strong>{{ ((rating_score|sum)/rating_score|length)|round(1, 'ceil') }}</strong> <i class="fas fa-star"></i>
        </p>
        <p class="posts-rating">Total Ratings: <strong>{{ rating_score|length }}</strong></p>
        {% else %}
        <p class="posts-rating">No Ratings Yet</p>
        {% endif %}
      </div>
    </div>

    <p class="posts-description">{{ location.location_description }}</p>

    {% if session.user %}

    <form class="post-form" method="POST" action="{{ url_for('rate_location', location_id=location._id) }}">
      <!-- <h4 class="posts-subheading">Rate Location</h4> -->
      <div class="">
        <div class="input-field">
          <select id="rating_score" name="rating_score" class="validate" required>
            <!-- <option value="" disabled selected>Choose Category</option> -->

            <option value="1">1 Star</option>
            <option value="2">2 Star</option>
            <option value="3">3 Star</option>
            <option value="4">4 Star</option>
            <option value="5">5 Star</option>


          </select>
          <label for="rating_score">Rate this location</label>
        </div>
        <!-- </div> -->

        <!-- <div class="row"> -->
        <div class="">
          <button type="submit" class="btn-large post-submit-button">
            Submit Rating
          </button>
        </div>
      </div>
    </form>
    {% if rating != None %}
    <p class="posts-user-rating">You rated this: <strong>{{ rating.rating }}</strong> <i class="fas fa-star"></i></p>
    {% else %}
    <p class="posts-user-rating">You haven't rated this yet</p>
    {% endif %}

    {% endif %}
  </div>
  <p class="posts-background">{{ location.location_name }}</p>
</div>

{% if session.user %}
<div class="row post-section-container">
  <form class="col s12 m6 darken-1" method="POST" action="{{ url_for('locations', location_id=location._id) }}">
    <p>Post here about your experiences at <span>{{ location.location_name }}</span></p>
    <div class="row forum-text-field">
      <div class="input-field col s12">
        <input id="review_title" name="review_title" type="text" class="validate" required>
        <label for="review_title">Title</label>
      </div>
    </div>
    <div class="row forum-text-field">
      <div class="input-field col s12">
        <textarea id="review_description" name="review_description" type="text" class="materialize-textarea validate" required></textarea>
        <label for="review_description">Description</label>
      </div>
    </div>
    <button type="submit" class="btn-large forum-button">
      Submit Post
    </button>
  </form>
</div>
{% endif %}

{% for review in reviews %}
{% set favourite = [] %}
<div class="row">
  <div class="col s12 m6">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <a href="{{ url_for('view_post', post_id=review._id)}}"><span
            class="card-title">{{ review.review_title }}</span></a>
        {% if session.user %}
        {% for fav in fav_user %}
        {% if fav.post_id == review._id %}
        {% set __ = favourite.append(1) %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if favourite|length > 0 %}
        <a href="{{ url_for('favourite_post', post_id=review._id) }}"><i class="fas fa-heart"></i></a>
        {% else %}
        <a href="{{ url_for('favourite_post', post_id=review._id) }}"><i class="far fa-heart"></i></a>
        {% endif %}
        <p>
          {{ review.review_description }}
        </p>
      </div>

      {% for comment in comments %}
      {% if comment.post_id == review._id %}
      <p>{{ comment.comments }}</p>
      <p>{{ comment.date_created }}</p>
      {% if session.user|lower == comment.created_by|lower or session.admin|lower == "yes" %}
      <a href="{{ url_for('delete_comment', comment_id=comment._id) }}" class="btn-small">Delete</a>
      <a href="{{ url_for('edit_comment', comment_id=comment._id) }}" class="btn-small">Edit</a>
      {% endif %}
      {% endif %}
      {% endfor %}


      <div class="card-action">
        <p>Date: {{ review.date_created }}</p>
        <p>Posted by: {{ review.created_by }}</p>
        {% if session.user|lower == review.created_by|lower or session.admin|lower == "yes" %}
        <a href="{{ url_for('delete_post', post_id=review._id) }}" class="btn-small">Delete</a>
        <a href="{{ url_for('edit_post', post_id=review._id) }}" class="btn-small">Edit</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if session.user %}

<div class="row">
  <form class="col s12 m6" method="POST" action="{{ url_for('add_comment', post_id=review._id) }}">
    <div class="row">
      <div class="input-field col s12 m6">
        <textarea id="comments" name="comments" class="materialize-textarea validate"></textarea>
        <label for="comments">Textarea</label>
      </div>
      <button type="submit" class="btn-small">
        Add Comment
      </button>
    </div>
  </form>
</div>

{% endif %}
{% endfor %}
{% endblock %}