{% extends "base.html" %}
{% block content %}

<div class="row register-form-container">
  <form
    class="col s12 m6 offset-m3"
    method="POST"
    action="{{ url_for('register') }}"
  >
    <div class="card-panel register-card">
      <!-- Username -->
      <div class="row register-text-field">
        <div class="input-field col s12">
          <input
            id="username"
            name="username"
            type="text"
            class="validate"
            minlength="5"
            maxlength="10"
            required
          />
          <label for="username">Username (5-10 Characters)</label>
        </div>
      </div>
      <!-- Password -->
      <div class="row register-text-field">
        <div class="input-field col s12">
          <input
            id="password"
            name="password"
            type="password"
            class="validate"
            required
          />
          <label for="password">Password</label>
        </div>
      </div>
      <!-- Register -->
      <div class="row">
        <button type="submit" class="col s12 btn-large register-button">
          Register
        </button>
      </div>
    </div>
  </form>
</div>

<br />
<br />
<br />

<div class="row register-text">
  <div class="col s12">
    <p class="center-align">
      Already have an account? You can
      <span><a href="{{ url_for('login') }}">Log In Here</a></span>
    </p>
  </div>
</div>

{% endblock %}