{% extends "base.html" %}
{% block content %}

{% set favourite = [] %}
<a href="{{ url_for('locations', location_id=post.location_id) }}" class="btn-large post-back-button">Back to {{ post.location_name }}</a>
<a href="{{ url_for('get_locations') }}" class="btn-large post-back-button">Back to all locations</a>
<div class="row review-section-container">
  <div class="col s12 m6 single-post">
    <div class="card">
      <div class="card-content white-text">
        <a href="{{ url_for('view_post', post_id=post._id)}}"><span
            class="card-title">{{ post.review_title }}</span></a>
        {% if session.user %}
        {% for fav in fav_user %}
        {% if fav.post_id == post._id %}
        {% set __ = favourite.append(1) %}
        {% endif %}
        {% endfor %}
        {% endif %}
        {% if favourite|length > 0 %}
        <a href="{{ url_for('favourite_post', post_id=post._id) }}"><i class="fas fa-heart"></i></a>
        {% else %}
        <a href="{{ url_for('favourite_post', post_id=post._id) }}"><i class="far fa-heart"></i></a>
        {% endif %}
        <p>
          {{ post.review_description }}
        </p>

      </div>
      
      <ul class="collapsible">
        <li>
          <div class="collapsible-header">View comments</div>
                {% for comment in comments %}
                {% if comment.post_id == post._id %}
                <div class="comment-section-container collapsible-body">
          <p class="comment-reply">{{ comment.comments }}</p>
          <p class="comment-date">{{ comment.date_created }}</p>
          <p class="comment-created">{{ comment.created_by }}</p>
          {% if session.user|lower == comment.created_by|lower or session.admin|lower == "yes" %}
          <a href="{{ url_for('delete_comment', comment_id=comment._id) }}" class="btn-small edit-button">Delete</a>
          <a href="{{ url_for('edit_comment', comment_id=comment._id) }}" class="btn-small edit-button">Edit</a>
          {% endif %}
                </div>
        
      {% endif %}
      {% endfor %}
    </li>
      </ul>

      {% if session.user %}

<div class="row add-comment-section">
  <form class="col s12" method="POST" action="{{ url_for('add_comment', post_id=post._id) }}">
    <div class="row forum-text-field">
      <div class="input-field col s12">
        <textarea id="comments" name="comments" class="materialize-textarea validate"></textarea>
        <label for="comments">Leave a reply</label>
      </div>
      <button type="submit" class="btn-small forum-button">
        Add Comment
      </button>
    </div>
  </form>
</div>

{% endif %}


      <div class="card-action">
        <p class="post-date">Date: {{ post.date_created }}</p>
        <p class="post-created-by">Posted by: {{ post.created_by }}</p>
        {% if session.user|lower == post.created_by|lower or session.admin|lower == "yes" %}
        <a href="{{ url_for('delete_post', post_id=post._id) }}" class="btn-small">Delete</a>
        <a href="{{ url_for('edit_post', post_id=post._id) }}" class="btn-small">Edit</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}