{% extends "base.html" %}
{% block content %}

  

  <br>
  <br>

  {% if session.admin|lower == "yes" %}
      <div class="row">
        <div class="col s12 m12 center-align">
          <a href="{{ url_for('add_location') }}" class="btn-large location-add-button">Add Location</a>
        </div>
      </div>
      {% endif %}

      <div class="view-locations-admin">
  {% for location in locations %}
    
      {% set count = [] %}
      
      <div>
        <div class="view-locations-text">
          <h2>{{ location.location_name }}</h2>
          <a href="{{ url_for('edit_locations', location_id=location._id) }}" class="btn-small location-edit-button">Edit</a><br>
          <a href="{{ url_for('delete_locations', location_id=location._id) }}" class="btn-small location-edit-button">Delete</a>
          <h5>{{ location.location_description }}</h5>
          {% for review in reviews %}
          {% if review.location_name == location.location_name %}
          {% set __ = count.append(1) %}
        
          <p>Post Title: <span><a href="{{ url_for('view_post', post_id=review._id) }}">{{ review.review_title }}</a></span></p>
        
        {% endif %}
        
        {% endfor %}
        <h5>Total Posts: {{ count|length }}</h5>
        </div>
        {% if location.location_image %}
            <img src="{{ url_for('file', filename=location.location_image) }}">
            {% else %}
            <img src="{{ url_for('static', filename='img/blank_profile_image.png') }}">
            {% endif %}
      </div>
      
      
      
   
  {% endfor %}
</div>
  







{% endblock %}
  