{% extends "base.html" %}
{% block content %}

  

  <br>
  <br>

  {% if session.admin|lower == "yes" %}
      <div class="row">
        <div class="col s12 m12 center-align">
          <a href="{{ url_for('add_location') }}" class="btn-large">Add Location</a>
        </div>
      </div>
      {% endif %}


  {% for location in locations %}
    <div>
      <h2>{{ location.location_name }}</h2>
      <h5>{{ location.location_description }}</h5>
      <a href="{{ url_for('edit_locations', location_id=location._id) }}" class="btn-small">Edit</a>
      <a href="{{ url_for('delete_locations', location_id=location._id) }}" class="btn-small">Delete</a>
      <h5>Posts: </h5>
      {% for review in reviews %}
        {% if review.location_name == location.location_name %}
        <p>{{ review.review_title }}</p>
      {% endif %}
      {% endfor %}
    </div>
    <br>
    <br>
    <br>
  {% endfor %}
  







{% endblock %}